<h4>Enabled Items</h4><br>
<table style="text-align: center;" id= '#enabled' style='width: 100%; border-color: white;'>
  <tr>
    <th>Item</th>
    <th>Status Toggle</th>
  </tr>
  <% @merchant.enabled_items.each do |item| %>
        <tr id=<%= "id-#{item.id}" %>>
          <td><%= link_to item.name, "/merchants/#{@merchant.id}/items/#{item.id}" %></td>
          <td><%= button_to "Disable", "/merchants/#{@merchant.id}/items/#{item.id}", method: :patch, params: {enabled: "disabled"} %></td>
        </tr>
    <% end %>
</table><br>
