<div class="d-flex flex-column justify-content-start">
  <h1>Welcome to Little Esty Shop </h1><br>

  <h3> Click to View Merchant's Dashboard: </h3>
    <div class="row">
      <div class="column" style="width: 50%">
        <ul>
          <% @merchants.each do |merchant| %>
            <li><%= link_to merchant.name, "/merchants/#{merchant.id}/dashboard" %></li>
          <% end %>
        </ul>
      </div>
    </div>
