<div class="container" style="width: 50%">
<div class="col-sm", style='padding-left: 25px'>
      <h1><%= "Edit #{@item.name}" %></h1><br>
      <%= render partial: 'form', locals: {  item: [@merchant, @item]} %>
    </div>
  </div>
